{% extends "SmartNewsUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% if error %}
    <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
{% endif %}
<form class="cd-form" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <p class="fieldset">
	    <label class="image-replace cd-username" for="username">{{ 'security.login.username'|trans }}</label>
	    <input class="full-width has-padding has-border" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Nom d'utilisateur"/>
	</p>

    <p class="fieldset">
	    <label class="image-replace cd-password" for="password">{{ 'security.login.password'|trans }}</label>
	    <input class="full-width has-padding has-border" type="password" id="password" name="_password" required="required" placeholder="Mot de passe"/>
	</p>

    <p class="fieldset">
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	</p>

    <input class="full-width" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>

<p class="cd-form-bottom-message"><a href="#0">Mot de passe oublié ?</a></p>

    {% render(controller('HWIOAuthBundle:Connect:connect')) %}

{% endblock fos_user_content %}
